@font-face{
	font-family: 'OpenSans';
	scr: url("..fonts/Open_Sans/OpenSans-Regular.tff");
	font-size: 1em;
}

@font-face{
	font-family: 'OpenSans-Light';
	scr: url("..fonts/Open_Sans/OpenSans-Light.tff");
	font-size: 1em;
}

header{
	width: 100%;
	height: 150px;
	z-index: 2;
	position: relative;
	background-color: rgba(94, 41, 154, .8);
}

header .container{
	position: relative;
	}

header .header-black{
	background-color: #000;
	height: 40px;
}

header .header-black li{
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 2px 4px;
}

header .header-black li.club-01{
	background-position: 0px 0px;
}

header .header-black li.club-02{
	background-position: -48px 0px;
}

header .header-black li.club-03{
	background-position: -90px 0px;
}

header .header-black li.club-04{
	background-position: -140px 0px;
}

header .header-black li.club-05{
	background-position: -190px 0px;
}

header .header-black li.club-06{
	background-position: -240px 0px;
}

header .header-black li.club-07{
	background-position: -290px 0px;
}

header .header-black li.club-08{
	background-position: -340px 0px;
}

header .header-black li.club-09{
	background-position: -380px 0px;
}

header .header-black li.club-10{
	background-position: -430px 0px;
}

header .header-black li.club-11{
	background-position: -480px 0px;
}

header .header-black li.club-12{
	background-position: -530px 0px;
}

header .header-black li.club-13{
	background-position: -580px 0px;
}

header .header-black li.club-14{
	background-position: -630px 0px;
}

header .header-black li.club-15{
	background-position: -670px 0px;
}

header .header-black li.club-16{
	background-position: -720px 0px;
}

header .header-black li.club-17{
	background-position: -760px 0px;
}

header .header-black li.club-18{
	background-position: -808px 0px;
}

header .header-black li.club-19{
	background-position: -855px 0px;
}

header .header-black li.club-20{
	background-position: -900px 0px;
}

header .header-black li.club-21{
	background-position: -950px 0px;
}

header .header-black li.club-22{
	background-position: -1000px 0px;
}
header .header-black li a{
	width: 32px;
	height: 32px;
	display: block;
}

header #logotipo{
	position: absolute;
	top: -30px;
	z-index: 3;
}

#banner h1.efeito{
	color: red; 
	font-size: 7em; 
	transition:1s;
}

#menu {
	margin: 18px 0;
}

#menu li {
	display: inline-block;
	font-family: 'OpenSans', Arial, Verdana;
}

#menu li.search{
	width: 182px;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(1, -.91, 1.45, 1);
}

#menu li.search.ativo{
	width: 300px;
	transition-duration: 1s;
}

#menu li.search input{
	background-color: #5c2d90;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
}


#menu li.search button{
	height: 30px;
	border: none;
	color: #fff;
}

#menu li.search button i{
	font-size: 16px;
	color: rgba(255, 255, 255, .5);
}

#menu li.search ::-webkit-input-placeholder{
	color: #fff;
}

#menu li a {
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
}

#banner {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	top: -110px;
	background-position: 0px -100px;
}

#banner h1{
	top: 300px;
	font-size: 92px;
	color: #fff;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'OpenSans-Light', Arial, Verdana;
	margin-left: 15px;
	transition:1s;
}

#banner h1 small{
	font-size: 32px;
	display: block;
	color: #fff;
	font-family: 'OpenSans', Arial, Verdana;
	font-weight: bold;
}

#news{
	position: relative;
	top: -110px;
}

#news h2 {
	color: #572799;
	font-family: 'OpenSans-Light', Arial, Verdana;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 400px;
}

#news hr{
	border: #fde192 solid;
	width: 200px;
	/*margin: 0 auto;*/
	margin: 10px;
    margin-left: 470px;
}

#news .thumbnails{
	margin-top: 20px;
}

#news .thumbnails h3{
	color: #572799;
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}

#news .thumbnails time{
	color: #a7a7a7;
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 18px;
}

#news .thumbnails .item-inner{
	padding: 10px;
}

#news .thumbnails .item-inner img{
	width: 100%;
}

#estatistica {
	background-color: #5e299a;
	width: 100%;
	height: 200px;
	text-align: center;
}

#estatistica p{
	color: #fde092;
	text-transform: uppercase;
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 64px;
	margin-top: 36px;
}

#estatistica p small{
	color: #fff;
	font-size: 24px;
	display: block;
}

#call-to-action {
	text-align: center;
	margin-top: 105px;

}

#call-to-action h2 {
	color: #5e299a;
	font-family: 'OpenSans-Light', Arial, Verdana;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	margin-left: 90px;
}

#call-to-action hr{
	border: #fde192 solid 8px;
	width: 200px;
	margin: 0 auto;
}

#call-to-action p{
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}

#call-to-action .btn {
	min-width: 164px;
	height: 44px;
	line-height: 34px;
	border-radius: 0;
	margin-left: 370px;
}

#call-to-action .btn-roxo {
	color: #fff;
	background-color: #5e299a;
	border-color: #5e299a;
	min-width: 164px;
	height: 44px;
}

#call-to-action .btn-amarelo {
	color: #000;
	background-color: #fde192;
	border-color: #fde192;
	min-width: 164px;
	height: 44px;
}

#call-to-action .row-max-400{
	margin: 0, auto;
	max-width: 400px;
}

footer{
	margin-top: 110px;
	width: 100%;
}

footer .row{
	width: 100%;
	margin-right: 0px; 
    margin-left: 0px; 
}

footer .row p{
	line-height: 58px;
	margin-bottom: 0;
}

footer .row-cinza-claro{
	height: 200px;
	background-color: #171f26;
}

footer .row-cinza-escuro{
	height: 60px;
	background-color: #11171d;
	border-top: #242d37 1px solid;
}

footer .float-left{
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 14px;
	color: #666;
}

footer .text-roxo{
	color: #623291;
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 14px;
	font-weight: bold;
}

footer .logotipo{
	margin-top: 28px;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch{
	margin-top: 40px;
}

footer .row-cols h4{
	font-family: 'OpenSans', Arial, Verdana;
	font-size: 16px;
	color: #fff;
	padding-bottom: 17px;
	border-bottom: #242d37 1px solid;
}

footer .row-cols h5{
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}

footer .row-cols time{
	color: #fde092;
	font-family: Arial;
	font-size: 14px;
}

footer .row-cols ul{
	list-style: none;
}

footer .col-links a{
	color: #fff;
	font-size: 14px;
	font-family: Arial;

}

footer .col-links .fa{
	margin: 0 6px;
}

footer .col-get-in-touch address{
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 6px;
}

footer .col-get-in-touch address span{
	display: inline-block;
}

footer .col-get-in-touch address i{
	position: relative;
	top: -14px;
}

footer .col-get-in-touch i{
	color: #9b9b9b;
	font-size: 15px;
	margin: 0 6px;
}

footer .col-get-in-touch a{
	color: #666;
}
footer .col-get-in-touch p{
	line-height: 20px;
}

footer .list-socials{
	margin-top: 4px;
}

footer .list-socials li{
	display: inline-block;
}

footer .list-socials a{
	display: block;
	border: #9b9b9b 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
	margin: 0 4px;
}

footer .list-socials i{
	font-size: 16px;
	margin: 7px auto;
}

/* videos */

#call-to-action2 h2{
	color: #5e299a;
    font-family: 'OpenSans-Light', Arial, Verdana;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-left: 460px;
}

.video_action {
	margin-left: 200px;	
}

video{
	width: 60%;
}
